@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {
    --primary-color: #006494;
    --secondary-color: #003554;
    --accent1-color: #051923;
    --accent2-color: #0582CA;


    --heading-font: "Jost", sans-serif;
    --paragraph-font: "Outfit", sans-serif;

    --nav-background-color: #051923;
    --nav-link-color: #00A6FB;
    --nav-hover-link-color: #0582CA;
    --nav-hover-background-color: #051923;
}

header {
    display: grid;
    grid-template-columns: 200px 150px 150px 150px;
    align-items: center;
    justify-content: space-around;
}

header img {
    position: relative;
    width: 180px;
}

header nav {
	display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/5;
}

header nav a {
	padding: 20px;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
}

section h2, p {
    justify-content: center;
    z-index: 1;
}

.figures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.figures img {
    width: 200px;
    height: auto;
}

figcaption {
    display: grid;
    padding: 10px;
    text-align: center;
    align-items: center;
}

h1, h2 {
    text-align: center;
    font-family: var(--heading-font);
    font-size: 2rem;
    color: var(--accent1-color);
    padding: 20px;
    z-index: 1;
}

h1 {
    top: 200px;
    text-align: center;
    color: aliceblue;
    position: absolute;
    left: 30rem;
}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color) ;
    padding: 20px;
    font-size: 1.2rem;
    z-index: 1;
}

nav .sociallinks {
    text-decoration: none;
}

.hero img {
    /* position: relative; */
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: relative;
    left: 40rem;
    z-index: 1;
}

article img {
    position: relative;
    width: 100px;
    height: auto;
    right: 50px;
    bottom: 35rem;
}    

article p {
    position: relative;
    text-align: justify;
    right: 32rem;
    bottom: 60rem;
    background-color: #00A6FB;
}

a img {
    width: 2%;
}

footer {
    display: grid;
    grid-template-columns: 100px 150px 150px 150px;
    align-items: center;
    justify-content: space-around;
}

footer p {
    display: flex;
    grid-column: 2/4;
    justify-content: center;    
}

.sociallinks img {
    width: 40px;
}

h4 {
    font-family: var(--heading-font);
    font-size: 20px;
    color: var(--accent1-color);
    padding: 20px;
}

.information {
    position: absolute;
    width: 600px;
    height: 571px;
    margin: 0 auto;
    padding: 0rem;
    font-family: var(--paragraph-font);
    border: 2px solid rgb(32, 20, 20);
    background-color:rgb(169, 226, 217);
    top: 51.8%;
    left: 53.5%;
}

h3 {
    font-family: var(--heading-font);
    position: absolute;
    width: 650px;
    padding: 1rem;
    top: 49%;
    left: 18px;
    border: 2px solid rgb(32, 20, 20);
    background-color:rgb(169, 226, 217);
    display: grid;
    z-index: 1;
}

form {
    position: absolute;
    width: 650px;
    padding: 1rem;
    top: 60%;
    left: 18px;
    border: 2px solid rgb(32, 20, 20);
    background-color:rgb(169, 226, 217);
    display: grid;
    z-index: 1;
    font-family: var(--paragraph-font);
}

form p {
    font-family: var(--paragraph-font);
    text-align: left;
    font-size: 20px;
}

input {
    display: flex;
}

button {
    font-family: var(--paragraph-font);
    font-size: 20px;
    text-align: center;
}

label {
    font-family: var(--paragraph-font);
    font-size: 20px;
    padding: 10px;
}

.workers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.workers img {
    width: 250px;
    height: 160px;
}

figcaption {
    display: grid;
    padding: 10px;
    text-align: center;
    align-items: center;
}
