
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');



:root {
    --primary-color: #006494;
    --secondary-color: #003554;
    --accent1-color: #051923;
    --accent2-color: #0582CA;


    --heading-font: "Jost", sans-serif;
    --paragraph-font: "Outfit", sans-serif;

    --nav-background-color: #051923;
    --nav-link-color: #00A6FB;
    --nav-hover-link-color: #0582CA;
    --nav-hover-background-color: #051923;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
        font-family: var(--heading-font);
        color: var(--accent-color);
    }

header {
        padding: 20px;
        background-color: #003554;
    }

p {
        padding: 25px;
    }

nav {
        background-color: var(--nav-background-color);
        font-size: 1.2rem;
        display: flex;
    }

nav a {
        display: block;
        color: var(--nav-link-color);
        text-decoration: none;
        padding: 1rem;
    }

nav a:link, nav a:visited {
        color: var(--nav-link-color)
    }

nav a:hover {
        color: var(--nav-hoover-link-color);
        background-color: var(--nav-hoover-background-color);
    }